<div>
    <h1>
        Useful resources:</h1>
        <div class="container">         
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Task Subject</th>
        <th>Resource</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Subject 1</td>
        <td>Resource 1</td>
      </tr>
      <tr>
        <td>Subject 2</td>
        <td>Resource 2</td>
      </tr>
      <tr>
        <td>Subject 3</td>
        <td>Resource 3</td>
      </tr>
    </tbody>
  </table>
</div>

  <a ui-sref="tasks">back</a>
</div>