<!DOCTYPE html>
<html>
  <head>
      <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
          <div id="player"></div>

          <script>
  
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');
      
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      
            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
  
  
  
            function onYouTubeIframeAPIReady() {
              player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: 'nmpQq-7a_sE',
                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange
                }
              });
            }
      
            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
              event.target.playVideo();
            }
      
            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
              if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 600000);
                done = true;
              }
            }
            function stopVideo() {
              player.stopVideo();
            }
          </script>
  </head>
<body>
    <div>
        <h1>
            Top 5 on trending (in Romania)</h1>
            <div class="container">         
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Video title</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr class = 'clickable-row' data-href='url:https://www.youtube.com/watch?v=SM0_bORHaas'>
              
            <td>Carmen de la Salciua si Susanu</td>
            <td  >https://www.youtube.com/watch?v=SM0_bORHaas.............................................
              <button type="button" class="btn btn-success" id="btnTest1" >Play</button>  
            </td>
            
          </tr>
          <tr>
            <td>Alina Eremia feat. NOSFE</td>
            <td>https://www.youtube.com/watch?v=nmpQq-7a_sE...............................................
              <button type="button" class="btn btn-success" id="btnTest2" >Play</button>  
            </td>
          </tr>
          <tr>
            <td>Dani Mocanu - Nu Comenteaza Nimeni La Mine</td>
            <td>https://www.youtube.com/watch?v=we7vrIOdoHU................................................
              <button type="button" class="btn btn-success" id="btnTest3" >Play</button>  
            </td>
          </tr>
          <tr>
            <td>SESIUNE SESIUNE #NoapteaTârziu</td>
            <td>https://www.youtube.com/watch?v=mmj2ob_RHAQ.............................................
              <button type="button" class="btn btn-success" id="btnTest4" >Play</button>  
            </td>
          </tr>
          <tr>
            <td>NU APA SONG</td>
            <td>https://www.youtube.com/watch?v=31zMZkjjNRA................................................
              <button type="button" class="btn btn-success" id="btnTest5" >Play</button>  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
      <a ui-sref="playlists">back</a>
    
    
    
    </div>

    <script>
        var button1 = document.getElementById("btnTest1");
       
        button1.addEventListener("click", function(){
            alert("Hello World!");
          });
</script>
</body>
</html>