<img src="ytImg.png" class="img-rounded" alt="User Image" width="500" height="330">
  

<form class="form-inline">
  <div class="form-group">
    <label for="user">Username:</label>
    <input type="text" class="form-control" id="user" ng-model="username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" ng-model="password">
  </div>
  <button type="submit" class="btn btn-default" ng-click="loginFunction(username,password)">Login</button>
  
</form>
